@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:x{
    --main-color : #000000;
    --sec-color : #0267FF;
    --3rd-color : #00084F;
    --4th-color : #00063F;
    --5th-color : #00084F;
    --6th-color : #05FF00;
    --7th-color : #0B0090;
    --8th-color : #0D0F0D;
    --9th-color : #596AFF;
    --10th-color : #91BC35;
    --11th-color : #ABABAB;
    --12th-color : #CAAA00;
    --13th-color : #E9E6E6;
    --14th-color : #F2F2FF;
    --15th-color : #FFFF00;

    --main-font: 'Open Sans', sans-serif;
}

body{
    background-color: #ffecac;
    font-family: var(--main-font);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  nav{
    background: #F2F2FF;
    height: 100px;
    width: 100%;
  }
  .navbar .Logo{
    height: 100px;
    width: 250px;
    margin-left: 50px;
}
  nav ul{
    float: right;
    margin-top: 10px;
    margin-right: 50px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    text-decoration: underline;
    filter: drop-shadow(0px 6px 4px);
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  
footer{
    background-color: #dcf081;
}
.sosialmedia{
    margin-left: 100px;
}
footer h2{
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 10px;
	position: relative;
}
footer img{
    width: 40px;
    height: 40px;
}
footer .simpleaboutus img{
    width: 100px;
}
footer .simpleaboutus{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}
.sosialmedia a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #ffecac;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}
nav .btn-register:hover{
    text-decoration: underline;
}

nav .btn-register{
    font-size: 1.25rem;
    font-weight: 400;
    padding: 20px 30px;
    background: transparent;
    border-radius: 50px;
    border: 2px solid #000000;
    color: #000000;
    transition: ease-in 0.5s;
}

nav .btn-register:hover {
    box-shadow: inset 0 -100px 0 0 #1dac009c;
}
  
nav .btn-register:active {
    transform: scale(0.9);
}
.navbar .checkbtn{
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
#check{
    display: none;
}
.Listmenu-item-now{
    text-decoration: underline;
}
.form{
    position: relative;
    margin-top: 50px;
    margin-left: 570px;
    text-align: center;
}

h1{
    text-align: center; 
    margin-top: 30px;
    font-size: 32px;
}
.gap{
    padding: 20px;
    margin-top: 30px;
    background-color: #5fc24b9c;
    border: 2px solid black;
    border-radius: 30px;
    width: 500px;
    margin-left: 515px;
}
.gap .gap1{
    margin-top: 30px;
}
.gap1, .birth, .gender, .province{
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
}
.agree{
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
}
.checkbox{
    width: 20px;
    height: 20px;
}

.input{
    position: relative;
    margin-left: 30px;
    width: 400px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}
.input-birth{
    position: relative;
    margin-left: 30px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}
select{
    font-size: 15;
    margin-left: 30px;
    width: 120px;
    height: 25px;
    border-radius: 30px;
}
.gender1{
    margin-left: 60px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.but1{
    margin-left: 200px;
}
button{
    width: 120px;
    height: 25px;
    border-radius: 30px;
}
.checkbox{
    margin-left: 50px;
}


@media (max-width: 768px){
    .navbar .Logo{
        height: 100px;
        width: 200px;
        margin-left: 20px;
    }
    nav ul li a{
        position: relative;
        font-size: 16px;
    }
  }
  @media (max-width: 768px)
  {
    .navbar .checkbtn{
        display: block;
    }
    .navbar ul{
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F2F2FF;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .gap{
        width: 350px;
        margin-left: 20px;
    };
    .form{
        margin-left: 0px;
    }
    .input , .input-birth{
        margin-left: 0px;
        width: 300px;
    }
    .checkbox{
        margin-left: 0px;
    }
    .gender1{
        margin-left: 10px;
    }
    select{
        margin-left: 10px;
    }
    .but1{
        margin-left: 0px;
    }
    .gap1, .birth, .gender, .province{
        margin-top: 30px;
        margin-left: 10px;
        text-align: left;
        font-size: 20px;
    }
    footer .simpleaboutus{
        margin-left: 50px;
        margin-right: 50px;
        text-align: justify;
        font-size: 20px;
    }

    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        text-decoration: underline;
    }
    #check:checked ~ ul{
        left: 0;  
    }
  }



